#tabsBar{
    position: fixed;
    top: 0px;
    right: 10%;
    left: 10%;
   
    background: #D0CDD7;

}


body {
   font-family: 'roboto-light';
    background: #696D7D;

}

#content {
    background: #D0CDD7;
    position: absolute;
    right: 10%;
    left: 10%;
    top: 0;
    /*margin-right: 150px;
    margin-left: 150px;*/
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 100px;
    padding-top: 150px;
   /* line-height: 200%;*/
}

@font-face {
    font-family: 'roboto-light'; 
    src: url("Roboto-Light.ttf"); 
}

#aplic{
    padding-right: 200px;
}

#secret{
    font-size: 8px;
}

.images{
    float: right;
    clear: right;
   
}